.DS_Store
build/
*.profdata
*.profraw
.toolchain
.vs
.vscode
CMakeSettings.json
bazel-bin
bazel-out
bazel-testlogs
/bazel-kdtreepp
/examples/bazel-consumer/bazel-bazel-consumer
/build/

/test_package/build/
/test_package/CMakeUserPresets.json

/build-coverage/
__pycache__/
